.user-info-body
{
    display:flex;
    align-items:center;
    position:relative
}
.user-avatar {
    width: 32px;
    height: 32px;
    margin-right:10px
}
    .user-avatar img {
        width: 32px;
        height: 32px;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
.user-info{
    color:white;
    font-weight:600
}
.user-info-body::after{
    position:absolute;
    content:"";
    top:100%;
    width:100%;
    height:20px;
}
.user-info-body:hover .user-info-more {
    display: flex
}
.token-nav .token-item div {
    /*text-align: center;*/
    justify-content: center;
    font-weight: 600;
}
.user-info-more {
    position: absolute;
    top: 120%;
    border: 1px solid rgba(22,22,23,.12);
    box-shadow: 1px 1px 3px rgba(22,22,24,.12);
    display: none;
    flex-direction: column;
    color: rgba(22,22,23,.8);
    background-color: white;
    min-width: 160px;
    border-radius: 6px;
    animation: fadein .3s ease;
}
@keyframes fadein {
    from{
        opacity:0;
        transform:translateY(20px)
    }to{
         opacity:1;
         transform:translateY(0)
     }
}
.user-info-more a{
    padding:8px 14px;
    transition:.3s ease;
    
}
    .user-info-more a i{
        margin-right:8px
    }
    .user-info-more a:hover{
        background-color:rgba(22,22,21,.08);
        cursor:pointer
    }


    /*landingpage*/

/* landingpage */
* {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Signika"; */
}

.app {
    color: rgba(22,22,24,1);
    min-height: 2000px;
}

.header {
    width: 100%;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0053d3;
    color: white;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.user-info{
    color:rgba(22,22,24)
}
.headet-top span {
    margin-left: 10px;
}

.header-body {
    width: 100%;
    position: relative;
}

.header-big-img {
    width: 100%;
    max-height:700px;
    object-fit:cover
}

.header-content {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-content-wrapper {
    width: var(--width);
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    align-items: center;
    padding: 10px 30px;
    font-weight: 600;
}

.header-logo img {
    object-fit: cover;
}
.header-logo{
    display: flex;
    align-items: center;
}
.logo-title{
    font-size: 1.6rem;
    color: var(--primary);
    margin-left: 6px;
}

.header-mid {
    display: flex;
    gap: 40px;
    font-size: 1.4rem;
    color: var(--primary);
}

.header-mid-item {
    position: relative;
    transition: .5s;
    cursor: pointer;
    line-height: 1.4rem;
    color: var(--primary);
}

    .header-mid-item::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 110%;
        left: 0;
        transition: transform .5s;
        transform: scale(0);
        transform-origin: right;
        background-color: var(--primary);
    }

    .header-mid-item:hover {
        color: var(--primary);
    }

        .header-mid-item:hover::after {
            transform: scale(1);
            transform-origin: left;
        }

    .header-mid-item.last {
        position: relative;
    }

        .header-mid-item.last:hover .header-more {
            display: flex;
        }

        .header-mid-item.last::before {
            position: absolute;
            content: "";
            top: 100%;
            height: 30px;
            width: 100%;
        }

.header-more {
    top: 200%;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: 400;
    min-width: 220px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.85);
    display: none;
    flex-direction: column;
    animation: fadein .6s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    tp {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-more-item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(6, 117, 229, 0.8);
    transition: .3s ease;
    font-size: .8;
}

    .header-more-item:hover {
        background-color: rgba(22,22,24,.06);
    }

.header-slogen {
    flex: 1;
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18%;
    color: white
}

.header-slogen-title {
    font-size: 2.8rem;
    font-weight: 600;
}

.header-slogen span {
    font-size: 1.2rem;
    margin: 40px 0;
}

.header-signup {
    color: white;
    background-color: rgba(255, 194, 0, 1);
    border-radius: 50px;
    padding: 10px 28px;
    cursor: pointer;
    transition: .3s ease;
    background-image: linear-gradient(rgba(255, 194, 0, 1),rgba(255, 194, 0, .8));
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    align-items: center;
    gap: 10px;
}

    .header-signup i {
        margin-right: 8px;
    }

    .header-signup::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(236, 232, 229, 0.3);
        transform: translateX(-100%);
        transition: all 0.3s ease-out;
    }

    .header-signup:hover::before {
        transform: translateX(0%);
    }

.header-tab {
    position: absolute;
    display: flex;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 249, 249, 0.7) 0%, #FFFEFE 44.27%);
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    z-index: 2;
    justify-content: space-around;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.header-right {
    background-color: rgba(255, 194, 0, 1);
    color: white;
    padding: 6px 38px;
    border-radius: 20px;
    transition: .3s ease;
}

    .header-right:hover {
        opacity: .8;
    }

.header-tab-item {
    text-align: center;
}

    .header-tab-item span {
        font-size: 2.4rem;
        color: var(--primary);
        font-weight: 600;
        text-align: center;
    }

.header-tab-item {
    color: rgba(173, 173, 173, 1);
    font-size: 1.0rem;
}
/* body */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    width: var(--width);
}

.banner {
    width: 100%;
    margin: 60px 0;
    overflow: hidden;
}

.banner-top-img {
    object-fit: contain;
}

.token {
    display: flex;
    flex-direction: column;
}

.token-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

    .token-title span {
        font-size: 2rem;
        color: var(--primary);
        font-weight: 600;
    }

.token-right {
    border: 1px solid var(--primary);
    border-radius: 20px;
    color: var(--primary);
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: .3s ease;
}

    .token-right:hover {
        background-color: aliceblue;
    }

.token-item {
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(22,22,24);
   
}
.sidebar-item i{
    color:var(--primary);
}
.sidebar-item:hover{
    color:var(--primary)
}
.sidebar-item.action:hover {
    background-color: var(--primary)
}
.user-info-more{
    min-width:114px;
}
    .token-item-name {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.token-price {
    width: 40%;
    text-align: right
}

.token-value {
    width: 20%;
    text-align: right;
}

.token-nav {
    width: 100%;
    background: rgba(159, 207, 255, 1);
    padding: 8px 20px;
}

    .token-nav .token-item-name {
        text-align: center;
        justify-content: center;
    }

.token-list {
    margin-top: 10px;
    
}
    .token-list .token-item {
        padding: 24px ;
    }

.token-name-left img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.token-name-left {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    color: rgb(145, 142, 142);
    font-size: 1.2rem;
}

.token-name-right {
    color: rgba(173, 173, 173, 1);
    font-size: 1rem;
}

.token-list .token-item:nth-child(2n) {
    background-color: aliceblue;
}

.token-list .token-price {
    font-weight: 600;
    color: green;
}

.token-list .token-value {
    font-weight: 600;
    color: rgba(173, 173, 173, 1);
}

.list-coin {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

    .list-coin img {
        width: 100%;
        object-fit: cover;
    }

.list-coin-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

    .list-coin-body span {
        font-size: 2.2rem;
        color: var(--primary);
        font-weight: 700;
    }

    .list-coin-body a {
        background-color: var(--primary);
        color: white;
        padding: 10px 54px;
        border-radius: 50px;
        box-shadow: 0 1px 1px var(--primary);
        transition: .3s ease;
    }

        .list-coin-body a:hover {
            opacity: 0.8;
            box-shadow: none;
            cursor: pointer;
        }

.partner {
    width: var(--width);
    display: flex;
    flex-direction: column;
}

.partner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.partner-title-big {
    font-size: 2.2rem;
    color: var(--primary);
    font-weight: 700;
}

.partner-title-small {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(22,22,4,.8);
}

.partner-list {
    display: flex;
    width: 100%;
    margin: 60px 0;
}

.network-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .network-img img {
        width: 80%;
    }

.partner-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .partner-btn a {
        background-color: var(--primary);
        color: white;
        border-radius: 20px;
        padding: 10px 46px;
        cursor: pointer;
        transition: .3s ease;
        font-size: 1.1rem;
    }

        .partner-btn a:hover {
            opacity: .8;
        }

.member {
    width: var(--width);
    display: flex;
    margin: 30px 0;
}

.member-left {
    width: 60%;
}

    .member-left img {
        width: 100%;
    }

.member-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.member-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    /* margin-bottom: 20px; */
}

.member-title-small {
    margin: 10px 0 30px;
    font-size: 1rem;
    color: rgba(173, 173, 173, 1);
    text-align: center;
}

.member-item {
    display: flex;
    gap: 12px;
    align-items: start;
    margin-bottom: 16px;
}

.member-item-label {
    color: rgb(113, 111, 111);
    font-size: 1.2rem;
}

.member-item-body span {
    font-size: 1rem;
    color: rgb(139, 135, 135);
}

.member-btn a {
    background-color: var(--primary);
    padding: 10px 36px;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}

.explore {
    width: var(--width);
}

.exploxe-title {
    font-size: 2rem;
    margin: 20px 0 40px;
    color: var(--primary);
    text-align: center;
    font-weight: 700;
}

.explore-list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.explore-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

    .explore-item strong {
        color: rgba(60, 60, 62, 0.8);
        font-size: 1.2rem;
        margin: 10px 0 26px;
    }

    .explore-item span {
        color: rgba(76, 76, 77, 0.8);
        font-size: 1rem;
        text-align: center;
    }

.border {
    width: var(--width);
    display: flex;
    margin: 40px 0;
}

.border-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.border-right {
    width: 60%;
}

.border-title {
    font-size: 2rem;
    color: var(--primary);
    font-weight: 700;
    line-height: 2.4rem;
}

.border-title-small {
    font-size: 1rem;
    color: rgba(173, 173, 173, 1);
}

.border-qr {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.border-qr-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(173, 173, 173, 1);
    font-size: 1.2rem;
}

    .border-qr-info span {
        font-weight: 600;
    }

.boder-list {
    display: flex;
    flex-wrap: wrap;
}

.border-item {
    width: 33.3%;
    margin-bottom: 10px;
}

.border-btn {
    padding-top: 20px;
}

    .border-btn a {
        color: var(--primary);
        background-color: white;
        border: 1px solid var(--primary);
        border-radius: 50px;
        padding: 10px 26px;
        transition: .3s ease;
    }

        .border-btn a i {
            margin-left: 14px;
        }

        .border-btn a:hover {
            background-color: aliceblue;
        }

.help {
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-title {
    font-size: 2rem;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 40px;
}

.help-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.help-item {
    width: 33.3%;
    padding: 0 20px;
    display: flex;
    gap: 14px;
}

.help-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .help-info div {
        color: rgb(136, 135, 135);
        font-size: 1.2rem;
    }

    .help-info span {
        font-size: 1rem;
        color: rgb(159, 157, 157);
        line-height: 1.2rem;
    }

        .help-info span a {
            color: var(--primary);
        }

.start {
    width: 100%;
    background-color: rgb(0, 128, 255);
    position: relative;
    margin:20px 0
}

.start-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;

}

.start-content {
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .start-content span {
        font-size: 2.4rem;
        font-weight: 600;
        color: white;
        padding: 20px 0;
    }

.start-btn {
    padding-top: 30px;
}

    .start-btn a {
        background-color: rgba(255, 194, 0, 1);
        color: white;
        font-size: 1.4rem;
        padding: 10px 34px;
        border-radius: 50px;
        cursor: pointer;
        transition: .3s ease;
    }

        .start-btn a:hover {
            opacity: .8;
        }

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    width: var(--width);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-item {
    width: 20%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 1.2rem;
    color: var(--primary);
    font-weight: 600;
    padding-bottom: 40px;
}

.footer-child {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: rgba(173, 173, 173, 1);
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
    transition:.3s ease
}
.footer-child:hover{
    color:var(--primary)
}

    .footer-child img {
        width: 18px;
        object-fit: cover;
        margin-right: 6px;
        margin-top: 10px;
    }

.header-menu {
    display: none;
    font-size: 2rem;
}

.header-btn-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.list-community{
    display:flex;
    gap:20px;
    font-size:1.4rem
}
.btn-login{
    cursor: pointer;
}
.hidden{
    display: none !important;
}
.list-community a i {
    font-size:1.6rem;
    color:rgba(22,22,24, .7);
    transition:.3s ease
}
.list-community a i:hover{
    color:var(--primary)
} 
/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22,22,24,.6);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-wrapper{
    background-color: white;
    box-shadow: 0 0 4px gray;
    border-radius: 6px;
    padding: 20px 30px ;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 380px;
    animation: modalin .3s ease;
    min-height: 560px;
}
@keyframes modalin {
    from{
        opacity: 0;
        transform: scale(.3);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.modal-wrapper i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(22,22,24,.2);
    font-size: 1.6rem;
    transition: .3s ease;
    cursor: pointer;
}
.modal-body{
    display: none;
}
.modal-body.active{
    display: block;
}
.modal-wrapper i:hover{
    color: rgba(22,22,24,.8);
}
.modal-title{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 26px;
    color: rgba(22,22,23,.8);
    font-weight: 600;
}
.modal-switch{
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.modal-switch-item{
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid rgba(22,22,23,.12);
    width: 50%;
    text-align: center;
    font-size: 1.0rem;
    transition: .3s ease;
    cursor: pointer;
    
}
.modal-switch-item:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.modal-switch-item:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.modal-switch-item:hover{
    background-color: rgba(22,22,23,.12)
}
.modal-switch-item.active{
    color: white;
    background-color: var(--primary);

}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.form-control{
    border: 1px solid rgba(22,22,24,.2);
    font-size: .9rem;
    color:agba(22,22,24,.6);
    padding: 10px;
    border-radius: 4px;
    outline: none;
}
.form-control:last-child{
    margin-bottom: 0px;
}
.form-forgot a{
    font-size: .8rem;
    color: var(--primary);

}
.form-group label{
    font-size: 1rem;
    color: rgba(22,22,24,.8);
    font-weight: 600;
}
.m-btn-login{
    width: 100%;
    border:none;
    background-color: var(--primary);
    color: white;
    padding: 10px ;
    border-radius: 4px;
    margin: 10px 0 30px;
    cursor: pointer;
    transition: .3s ease;
}
.m-btn-login:hover{
    opacity: .8;
}
.modal-bottom{
    display: flex;
    justify-content: center;
    gap: 6px;
    font-size: .8rem;
}
.modal-bottom div{
    font-size: .9rem;
    color: var(--primary);
    cursor: pointer;
}
@media screen and (max-width:1200px) {
    :root {
        --width: 100%
    }

    .body {
        padding: 0 10px;
    }
}

@media screen and (max-width:440px) {
    .explore-list {
        flex-direction: column;
    }

    .border {
        flex-direction: column-reverse;
    }

    .border-right img {
        width: 100%;
    }

    .border-right {
        width: 100%;
    }

    ;
    .border-left {
        width: 100%;
    }

    .header-content {
        padding: 0 10px;
    }

    .header-logo img {
        width: 80px;
    }

    .header-nav {
        padding: 10px 18px;
    }

    .header-mid {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-tab {
        flex-wrap: wrap;
    }

    .header-tab-item {
        width: 50%;
        padding: 10px;
        /* margin-bottom: 20px; */
    }

        .header-tab-item:last-child {
            margin-bottom: 0;
        }

    .header-tab {
        padding: 10px;
    }

    .header-big-img {
        height: 500px;
        object-fit: cover;
    }

    .header-slogen {
        width: 80%;
    }

    .header-slogen-title {
        line-height: 2.8rem;
        text-align: center;
    }

    .banner {
        margin: 20px 0 10px;
    }

    .token-title {
        margin-bottom: 10px;
    }

        .token-title span {
            font-size: 1.2rem;
        }

    .token-right {
        padding: 8px;
        border: none;
    }

    .list-coin-body span {
        font-size: 1.2rem;
    }

    .list-coin-body a {
        padding: 6px 16px;
    }

    .partner-title-small {
        font-size: 1.2rem;
    }

    .partner-list {
        margin: 20px 0;
        flex-wrap: wrap;
    }

    .member-left {
        display: none;
    }

    .member-right {
        width: 100%;
    }

    .member-btn {
        display: flex;
        justify-content: center;
    }

    .border-left {
        width: 100%;
    }

    .border-qr {
        justify-content: center;
        margin: 30px 0;
    }

    .border-item {
        display: flex;
        justify-content: center;
    }

    .border-btn {
        display: flex;
        justify-content: center;
    }

    .help-list {
        flex-wrap: wrap;
    }

    .help-item {
        width: 100%;
        padding: 10px;
    }

    .help-img img {
        width: 60px;
    }

    .start {
        display: none;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer-item {
        width: 50%;
    }

    .header-top {
        display: none;
    }

    .header-nav {
        margin-top: 10px;
    }

    .header-right {
        padding: 6px 18px
    }
}

/* landingpage */
.sidebar {
    /*display: none;//*/
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(22,22,24,.6);
    z-index: 99;
    /*transition: 1s ease;*/
    /*animation:showout .3s ease;*/
}

@keyframes showout{
    from{
        opacity:0;
        transform:translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(100%);
    }
}
.sidebar-wrapper{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:220px;
    background-color:white;
   /* box-shadow: -1px 0 4px #ff6a00;*/
    border-left:1px solid var(--border);
    display:flex;
    flex-direction:column;
    transition:.4s ease;
    transform:translateX(100%);
}
.sidebar-close {
    padding: 10px 20px;
    font-size: 18px;
    color: gray;
    transition: .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid var(--border);
}
.sidebar-img{
    width:16%;
}
.sidebar-img img{
    width:100%;
}
    .sidebar-close:hover {
        color: black;
        cursor: pointer;
        
    }
.sidebar-close i{
    transition:.3s ease;
}
.sidebar-close i:hover {
    transform: rotate(90deg)
}
.sidebar-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.sidebar-item{
    padding:10px 20px;
    font-size:16px;
    color:var(--primary);
    color:black;
    transition:.3s ease;
    border-bottom:1px solid var(--border-color);

}
.sidebar-item i{
    width:28px;
    color:var(--primary)
}
    .sidebar-item:hover {
        color:var(--primary);
        background-color: var(--border-color);
    }
.sidebar-bottom{
    margin-top:40px;
    display:flex;
    flex-direction:column;
}
.action{
    background-color:var(--border);
    color:black;
    margin:6px 0;
    border-radius:6px;
}
.action i{
   /* color:white;*/
   width:40px;
}
.sidebar-item.action:hover{
    color:var(--primary);
    color:white!important;
}
.sidebar-item.action:hover i{
    color:white;
}
.footer-copy{
    width:100%;
    padding:18px;
    text-align:center
}
img.banner-top-img {
    width:100%;
    object-fit:cover;
}
.container-swipper{
    overflow:hidden;
}
.features-body{
    width:100%;
    overflow:hidden;
    position:relative;
}



